nav{
  position: fixed;
  top:0;
  width:100%;
  z-index: 1000;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.about-container{
  padding: 2em;
  font-size: 1rem;
  margin-left: 10px;
  background-color: #cfcccb;
  width: 600px;
  height: 302px;
  margin-top: 200px;
  margin-left: 100px;
  p{
    margin-top: 70px;
    text-align: justify;
  }
}

/* @media all and (min-width: 1200px) {
  .about-container {
    float: left;
    width: 600%;
    margin-right: 30%;
  }
} */

#about{
  width: 100px;
  display: flex;
  flex-direction: row;
  
}


#image-gean{
  position: relative;
  top: -235px;
  left: 600px;
  max-width: 600px;
  max-height: 300px;
}

/* Estilos de Habilidades */
.skills-container{
  h1{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .list-skill{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    
    li{
      width: 200px;
      height: 100px;
      border-color: gray;
      border-width: 2px;
      border-style: solid;
      border-radius: 10px;
      p{
        margin-left: 70px;
      }
      .icon-skill{
        width: 100px;
        height: 40px;
        position: relative;
        right: -50px;
      }
    }
  }
  
}


/* Estilos de Contacto */
.container-contact{
  width: auto;
  height: 150px;
  background-color: #333;
  h1{
    color: white;
    margin-left: 5px;

  }
  p{
    margin-left: 100px;
    color: white;
  }
  li{
    margin-right: 100px;
  }
  .icon-contact{
    margin-right: 10px;
  }
}

.title-section{
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

/* @media (min-width: 600px){
  #skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
} */

#skills{
  position: relative;
  bottom: -300px;
}

/*Estilos Projectos*/
#projects{
  height: 700px;
  position: relative;
  bottom: -500px;
  margin-top: 150px;
}

#contact{
  position: relative;
  bottom: -500px;
}

.carousel-indicator{
  width: 600px;
}